@import "./normalize";


.layout-header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    background-color: orange;

    &__container {
        margin: 0 auto;
        max-width: 960px;
    }

    &__brand {
        margin: 0;
    }

    &__brand-link {
        text-decoration: none;
    }

}